﻿@{
    ViewBag.Title = "The Red Pill | Trust Pilot Code Challenge";
}

<div class="jumbotron">
    <h1>Trust Pilot - Code Challenge</h1><br />
    <p class="lead">Follow the White Rabbit and Take the Red Pill!</p>
    <p><a href="http://followthewhiterabbit.trustpilot.com/cs/step2.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Config:</h2>
        <p><b>Known Anagram of Secret Phrase:</b><br />@System.Configuration.ConfigurationManager.AppSettings["SecretPhraseAnagram"]</p><br />
        <p><b>Known MD5Hash of Secret Phrase:</b><br />@System.Configuration.ConfigurationManager.AppSettings["SecretPhraseMD5Hash"]</p><br />
        <p><b>Imported Word List Count:</b><br />@ViewBag.ImportedWordCount</p><br />
    </div>
    <div class="col-md-4">
        <h2>Secret Phrase Found:</h2>
        <h3><b>@ViewBag.SearchMatch</b></h3><br/>
        <p><a href="http://followthewhiterabbit.trustpilot.com/cs/step3.html" class="btn btn-primary btn-lg">Check Result &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Diaganosis:</h2>
        <p><b>Processing Time:</b><br />@ViewBag.Elapsed</p>
        <p><b>Error Message:</b> @ViewBag.ErrorMessage</p>
    </div>
</div>


<div class="row">
    @{
        if (ViewBag.PossibleWordCount != 0 && ViewBag.PossibleWords != null)
        {
            <div class="col-md-6">
                <h2>Possible Words (@ViewBag.PossibleWordCount):</h2>
                <p>
                    <ul>
                        @foreach (var item in ViewBag.PossibleWords)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </p>
            </div>
        }

     }
            <div class="col-md-6">
                <h2>Possible Combinations (@ViewBag.PossibleCombinationCount):</h2>
     @{if (ViewBag.PossibleCombinationCount != 0 && ViewBag.PossibleCombinations != null)
       {
                <p>
                    <ul>
                        @foreach (var item in ViewBag.PossibleCombinations)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </p>
     }}
            </div>
</div>
